.filters-panel {
    width: 250px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.date-pickers {
    border: 2px solid rgb(134, 131, 131); /* Add a dark gray border */
    border-radius: 8px; /* Add rounded corners */
    padding: 12px; /* Add padding inside the border */
}

.range-picker {
    display: flex; /* Use flexbox for layout */
    gap: 10px; /* Add spacing between child elements */
    padding: 6px; /* Add padding inside the border */
    border: 2px solid rgb(134, 131, 131); /* Add a dark gray border */
    border-radius: 8px; /* Add rounded corners */
    background-color: #fafafa;
    min-height: 60px;
    max-height: 60px;
    align-items: center;
}

.chip-style.MuiChip-root {
    background-color: rgb(25, 118, 210);
    color: white;
    transition: background-color 0.3s, color 0.3s;
    max-width: 150px;
}

.chip-style.MuiChip-root .MuiChip-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chip-style.MuiChip-root .MuiChip-deleteIcon {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.chip-style.MuiChip-root .MuiChip-deleteIcon:hover {
    color: white;
}

.chip-style.MuiChip-root:hover {
    background-color: #ccc;
    color: black;
}

.chip-style.MuiChip-root:hover .MuiChip-deleteIcon {
    color: rgba(0, 0, 0, 0.7);
}

.chip-style.MuiChip-root:hover .MuiChip-deleteIcon:hover {
    color: black;
}

.checkbox-container {
    border: 2px solid rgb(134, 131, 131);
    border-radius: 8px;
    background-color: #fafafa;
    width: 100%;
    display: flex;
    padding: 8px;
}

.checkbox-label {
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkbox-container .MuiFormControlLabel-label {
    font-size: 14px;
    color: #333;
    padding: 2px 4px 2px 0px;
}

.checkbox-container .MuiFormControlLabel-root {
    margin: 2px 4px !important;
}

.status-container {
    /* Target the FormControl root directly for the status group */
    padding-bottom: 35px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}