.filters-panel {
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.date-pickers {
    border: 2px solid rgb(134, 131, 131); /* Add a dark gray border */
    border-radius: 8px; /* Add rounded corners */
    padding: 16px; /* Add padding inside the border */
    margin-bottom: 2px; /* Add space below the component */
}

.range-picker {
    display: flex; /* Use flexbox for layout */
    gap: 16px; /* Add spacing between child elements */
    padding: 16px; /* Add padding inside the border */
    border: 2px solid rgb(134, 131, 131); /* Add a dark gray border */
    border-radius: 8px; /* Add rounded corners */
}

.chip-style.MuiChip-root {
    background-color: rgb(25, 118, 210);
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.chip-style.MuiChip-root:hover {
    background-color: #ccc;
    color: black;
}

.checkbox-container {
    border: 2px solid rgb(134, 131, 131);
    border-radius: 8px;
    background-color: #fafafa;
    width: 100%;
    flex: 1;
    padding-left: 5px;
}

.checkbox-label {
    .MuiFormControlLabel-label {
        font-size: 14px;
        color: #333;
    }
}
